{% extends 'base.html.twig' %}

{% block header %}{% endblock %}

{% block banner %}{% endblock %}

{% block content %}

    <h2 class="text-center">Mes derniers Articles</h2>
    <hr>

    <div class="row justify-content-center">

        <div class="row col-10 col-md-12 my-4 border rounded p-0">
            <div class="col-12 col-md-4 p-0">
                <img class="img-fluid" src="https://www.monde-economique.ch/wp-content/uploads/b0a8c9a47c1d83b49e746bb0b80b5d298c1f9c93.jpeg" alt="Card image cap">
            </div>
            <div class="col-12 col-md-8 p-3 m-0 row align-items-center justify-content-center">
                <h3>Article Title</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi nobis officia pariatur quaerat reiciendis... <a href="">Voir plus</a></p>
            </div>
        </div>

        <div class="row col-10 col-md-12 my-4 border rounded p-0">
            <div class="col-12 col-md-4 p-0">
                <img class="img-fluid" src="https://www.monde-economique.ch/wp-content/uploads/b0a8c9a47c1d83b49e746bb0b80b5d298c1f9c93.jpeg" alt="Card image cap">
            </div>
            <div class="col-12 col-md-8 p-3 m-0 row align-items-center justify-content-center">
                <h3>Article Title</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi nobis officia pariatur quaerat reiciendis... <a href="">Voir plus</a></p>
            </div>
        </div>

        <div class="row col-10 col-md-12 my-4 border rounded p-0">
            <div class="col-12 col-md-4 p-0">
                <img class="img-fluid" src="https://www.monde-economique.ch/wp-content/uploads/b0a8c9a47c1d83b49e746bb0b80b5d298c1f9c93.jpeg" alt="Card image cap">
            </div>
            <div class="col-12 col-md-8 p-3 m-0 row align-items-center justify-content-center">
                <h3>Article Title</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi nobis officia pariatur quaerat reiciendis... <a href="">Voir plus</a></p>
            </div>
        </div>

        <div class="row col-10 col-md-12 my-4 border rounded p-0">
            <div class="col-12 col-md-4 p-0">
                <img class="img-fluid" src="https://www.monde-economique.ch/wp-content/uploads/b0a8c9a47c1d83b49e746bb0b80b5d298c1f9c93.jpeg" alt="Card image cap">
            </div>
            <div class="col-12 col-md-8 p-3 m-0 row align-items-center justify-content-center">
                <h3>Article Title</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi nobis officia pariatur quaerat reiciendis... <a href="">Voir plus</a></p>
            </div>
        </div>

    </div>

{% endblock %}
