{% extends 'base.html.twig' %}

{% block title %}{{ article.title }} - Wild Inside{% endblock %}

{% block content %}

    <h1>{{ article.title }}</h1>
    <p>{{ article.description }}</p>
    
    {% for photo in photos %}
        <img src="/uploads/{{ photo.link }}" alt="">
    {% endfor %}

{% endblock %}
